@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Open Sans';
}
body
{
  position: relative;
}
.nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav img {
  height: 30px;
}
.mobile-nav {
  height: 10vh;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.toggleBtn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.toggleBtn span {
  color: black;
}
.mobile-nav img {
  height: 30px;
}
.btns {
  display: flex;
  gap: 5px;
}
.links a {
  padding: 5px 25px;
  text-decoration: none;
  font-family: "Roboto", calibri;
  color: black;
}
.links a:hover {
  color: #50d344;
  border-bottom: 2px solid #50d344;
}
.banner {
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text h1 {
  font-family: "Open Sans", calibri;
  font-size: 50px;
  padding-bottom: 20px;
}
.text p {
  font-family: "Roboto", calibri;
  font-size: 20px;
  padding-bottom: 20px;
}
.bannerBtns {
  display: flex;
  gap: 5px;
}
.grid {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px;
}

.icon-text {
  display: flex;
  gap: 10px;
  line-height: 25px;
}
.icon-text .main-text {
  font-family: "Roboto", calibri;
  font-weight: bold;
  cursor: pointer;
}


.sidebar {
  position: fixed;
  height: 90%;
  width: 100%;
  background-color: #50d344;
  top: 0%;
  top: 10%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0%;
  display: none;
}

.added {
  display: block;
  position: fixed;
  height: 90%;
  width: 100%;
  background-color: #50d344;
  top: 0%;
  top: 10%;
  padding: 30px;
  display: none; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0%;
}

.material-icons {
  color: #50d344;
}
.mini-cards {
  padding-top: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.illus img {
  height: 500px;
  width: 550px;
  border-radius: 100px;
}  


.teaching
{
  min-height: 90vh;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
 
.teaching-text h1 {
  margin-top: 80px;
  font-family: "Open Sans", calibri;
  font-size: 50px;
  padding-bottom: 20px; 
  text-align: center;
}

.teaching-text p {
  font-family: "Roboto", calibri;
  font-size: 20px;text-align: center;
  padding-bottom: 20px; 
}
.bannerBtnss {
  justify-content: center;  
  width: 100%;
  display: flex;
  align-items: center;
}
.boxes
{
  height: 300px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  display: flex;  
  gap: 10px;
}
.single
{
  height: 80%;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 2;
  width: 20%; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s ease;
}

.single::before
{
  height: 90px;
  width: 90px;
  top: -10%;z-index: -1;
  border-radius: 45px;
  background-color: #50d344; 
  position: absolute;
  left: -10%;
  content: '';
  transition: .2s ease;
}
.single:hover.single::before {
  height: 100%;
  width: 100%; border-radius: 0px;
  top: 0%;
  left: 0%;
}
.single img
{ 
  width: 70px;
}
@media all and (max-width: 950px) {
  .single {
    height: 80%;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .illus {
    display: none;
  }
  .banner {
    justify-content: center;
    text-align: center;
  }
  .mini-cards {
    justify-content: center;
  }
  .bannerBtns {
    justify-content: center;
  }
}
@media all and (max-width: 820px) {
  .nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
}

@media all and (max-width: 500px){
 
.single {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  .text h1 {
    font-family: "Open Sans", calibri;
    font-size: 35px;
    padding-bottom: 20px;
    text-align: center;
  }
  .teaching-text h1
  {
    font-family: "Open Sans",
    calibri;
    margin-top: 170px;
    font-size: 35px;
    padding-bottom: 20px;
    text-align: center;
  }
  .text p {
    font-family: "Roboto", calibri;
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .banner {
    margin-top: -40px;
  }
  .sidebar {
    position: fixed;
    height: 90%;
    width: 100%;
    background-color: #50d344;
    top: 0%;
    top: 10%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0%;
    display: none;
  }
  
  .added {
    display: block;
    position: fixed;
    height: 90%;
    width: 100%;
    background-color: #50d344;
    top: 0%;
    top: 10%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0%;
  }
  .teaching
  {
    margin-top: -200px;
  }
}